[package]
name = "reddit"
version = "0.0.1"
authors = [ "adumbidiot <nathaniel.daniel23@outlook.com>" ]
edition = "2018"
license = "MIT/Apache-2.0"

[dependencies]
bytes = "1.0.1"
http = "0.2.4"
hyper = { version = "0.14.8", features = [ "client", "http1" ] }
hyper-tls = "0.5.0"
serde = { version = "1.0.126", features = [ "derive" ] }
serde_json = "1.0.64"
thiserror = "1.0.26"
url = { version = "2.2.2", features = [ "serde" ] }

[dev-dependencies]
tokio = { version = "1.7.1", features = [ "macros" ] }
